* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #555869;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b; 
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#cpu,
#memory,
#tray,
#workspaces,
#custom-updates,
#custom-gpu,
#custom-app,
#backlight {
    background: #09090c;
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    /* border: 1px solid #181825; */
}

#custom-updates {
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    background: #09090c;
    border-radius: 10px;
    padding-right: 0px;
    padding-left: 5px;
    margin-right: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 0px;
}

#custom-app {
    border-radius: 10px;
    margin-left: 0px;
}

#clock {
    color: #a6adc8;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 10px;
    border-right: 0px;
}

#network {
    color:  #a6adc8;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #a6adc8;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #a6adc8;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color:#a6adc8;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
